:root {
    --outer-space: #33393f;
    --bright-turquoise: #2aefcb;
    --gin: #e0eae4;
    --heliotrope: #e866ec;
  }
::selection {
    background-color: var(--bright-turquoise);
    color: var(--outer-space);
  }
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.heading {
    padding: 0px;
    font-family: Brush Script MT, Brush Script Std, cursive;
    color: black;
    border-top: grey solid;
    font-size: 25px;
}
.heading nav {
    text-align: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    border-bottom: grey solid;

}
.heading nav ul li {
    display: inline-flex;
    margin-left: 25px;
}

.heading nav ul li:hover {
    background-color: grey;
    
}

/* .code {
    height: 100px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/code.jpg");
    background-size: cover;
    background-position: center;
} */

a {
    color: black;
    text-decoration: none;
}
.aboutMe h2{
    float:right;
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-size: 50px;
}
.aboutMe{
    font-size: 20px;
}
img {
    width: 300px;
    display: inline;
    float: left;
}

.Works h2{
    float:left;
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-size: 50px;
}
@media screen and (max-width: 786px) {
    .heading ul li {
        display:flex;
        flex:wrap;
      }
    }